<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto StarCorp</title>
    <link rel="stylesheet" href="./src/style/style.css" />
    <link rel="stylesheet" href="./src/style/bootstrap.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./src/app.js"></script>
  </head>
  <body ng-app="projetoStarCorpCrud">

    <div class="jumbotron" ng-controller="crudCtrl">
      <h3 id="titulo-do-crud">Listagem</h3>

      <table class="table table-striped">
        <tr>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>Idade</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Celular</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
        <tr ng-repeat="pessoa in pessoas">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.dataNascimento}}</td>
          <td>{{pessoa.idade}}</td>
          <td>{{pessoa.email}}</td>
          <td>{{pessoa.telefone}}</td>
          <td>{{pessoa.celular}}</td>
          <td>
         <button type="button" ng-click="selecionarPessoas(pessoa.pessoaId)" class="btn btn-warning" data-toggle="modal" data-target="#abrirModal">Editar</button>
        </td>
        <td>
            <button type="button" class="btn btn-danger" data-toggle="modal"
                    data-target="#myModalExcluir" ng-click="deletarClienteDaApi(pessoa.pessoaId)">Excluir</button>
        </td>

        </tr>

      </table>
    
    </hr>

    <!---inputs-->
    
        <input type="text" class="form-control" ng-model="nome" placeholder="Nome"  onfocus="this.value='';" />
        <br />
        <input
          type="date"
          class="form-control"
          ng-model="dataNascimento"
          placeholder="Data de Nascimento"
          onfocus="this.value='';"
        />
        <br />
        <input type="number" class="form-control" ng-model="idade" placeholder="Idade" onfocus="this.value='';" />
        <br />
        <input type="text" class="form-control" ng-model="email" placeholder="Email" onfocus="this.value='';" />
        <br />
        <input type="text" class="form-control" ng-model="telefone" placeholder="Telefone" onfocus="this.value='';" />
        <br />
        <input type="text" class="form-control" ng-model="celular" placeholder="Celular" onfocus="this.value='';" />
    
  
    </hr>
<!--Botoes para adicionar pessoas e limpar o input e ver quantas pessoas tem cadastradas na API-->

      <button
      class="btn btn-primary btn-block"
        ng-click="adicionarClienteNaApi(nome,dataNascimento,idade,email,telefone,celular)"
      >
        Criar Nova Pessoa
      </button>
      <button id="limparDadosApi" ng-click="limparCamposDoInput(nome,dataNascimento,idade,email,telefone,celular)" class="btn btn-danger btn-block"> Limpar Input </button>
      <button ng-click="pegarPessoasNaApi(nome,dataNascimento,idade,email,telefone,celular)">Pessoas Cadastradas na Api</button>

      <div class="modal" tabindex="-1" role="dialog" id="abrirModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Editar Pessoa</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
              <p>Aqui você consegue editar pessoas porém essa edição vai diretamente para API e você tem que colocar o ID do user no codigo para alterar</p>
    
           <input type="text" class="form-control" ng-model="nome" placeholder="{{pessoaSelecionadaPeloID.nome}}" />
            <br />
           <input
            type="date"
            class="form-control"
            ng-model="dataNascimento"
            placeholder="Data de Nascimento"
            onfocus="this.value='';"
          />
          <br />
          <input type="number" class="form-control" ng-model="idade" value="{{pessoaSelecionadaPeloID.idade}}"  onfocus="this.value='';"/>
          <br />
          <input type="text" class="form-control" ng-model="email" placeholder="{{pessoaSelecionadaPeloID.email}}" />
          <br />
          <input type="text" class="form-control" ng-model="telefone" placeholder="{{pessoaSelecionadaPeloID.telefone}}" onfocus="this.value='';" />
          <br />
          <input type="text" class="form-control" ng-model="celular" placeholder="{{pessoaSelecionadaPeloID.celular}}" onfocus="this.value='';" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="alterarPessoaNoBancoDeDados(nome,dataNascimento,idade,email,telefone,celular)">Salvar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button id="limparDadosApi" ng-click="limparCamposDoInput(pessoaId,nome,dataNascimento,idade,email,telefone,celular)" class="btn btn-secondary btn-danger"> Limpar Input </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!--Modal do Editar Pessoa que envia diretamente a edição para o Banco de Dados da Api-->


  </body>
</html>
